{% load static %}
<html lang="en">
    <head>
        <title>Jc's blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <style>
            h1, h2, h3, h4, h5 {font-family: "Raleway", Arial, sans-serif;}
        </style>
    </head>
    <body>
        <div class="page-header container-fluid clearfix mb-4">
            {% if user.is_authenticated %}
                <ul class="nav justify-content-end">
                    <h5><a href="{% url 'myself' %}" class="top-menu top-menu-item">{{ user.username }}</a></h5>
                    <h5><a href="{% url 'post_draft_list' %}" class="top-menu top-menu-item">Draft List</a></h5>
                    <h5><a href="{% url 'post_new' %}" class="top-menu top-menu-item">Add</a></h5>
                    <h5><a href="{% url 'logout' %}"class="top-menu">Log out</a></h5>
                </ul>
            {% else %}
                <ul class="nav justify-content-end">
                    <h5><a href="{% url 'myself' %}" class="top-menu">My Profile</a></h5>
                    <h5><a href="{% url 'login' %}" class="top-menu">Log In</a></h5>
                </ul>
            {% endif %}
            <h1><a href="/">Jc's Blog</a></h1>
        </div>

        <div class="content container">
            <div class="col">
            {% block content %}
            {% endblock%}
            </div>
        </div>

        <footer class="container-fluid">
            <h5>Find me on social media.</h5>
            <a href="https://www.facebook.com/gildartsliew.choong"><i class="fa fa-facebook-official fa-fw" style="color: black;"></i></a>
            <a href="https://www.instagram.com/jianchoong/"><i class="fa fa-instagram fa-fw" style="color: black;"></i></a>
        </footer>
    </body>
</html>