{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h2>{{post.title}}</h2>
        {% if post.published_date %}
            <div class="date">
                {{post.published_date}}
            </div>
        {% else %}
            <h4><a class="self-made-button" href="{% url 'post_publish' pk=post.pk %}">Publish</a></h4>
        {% endif %}
        <p>{{post.text|linebreaksbr }}</p>
        {% if user.is_authenticated %}
            <h4><a class="self-made-button" href="{% url 'post_edit' pk=post.pk %}">Edit</a></h4>
            <h4><a class="self-made-button" href="{% url 'post_remove' pk=post.pk %}">Delete</a></h4>
        {% endif %}
    </div>
{% endblock %}